body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Marcellus", serif;
}

.about-project-container {
  position: relative;
  margin-bottom: 100px;
}
.about-project-container .opinions-header-left-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.about-project-container .opinions-header-left-box .header-container__title {
  margin: 0;
  margin-top: 20px;
  font-size: 60px;
  font-weight: 400;
}
.about-project-container .opinions-header-left-box p {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
}
.about-project-container .opinions-header-right-box .reviews-img {
  width: 400px;
  margin-right: 100px;
}
.about-project-container .insta-link-span {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.second-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}
.second-section-container .second-section-left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.second-section-container .second-section-left-container .second-section-title {
  font-size: 60px;
  font-weight: 400;
}
.second-section-container .second-section-left-container .second-section-list li {
  margin-bottom: 10px;
  font-size: 20px;
}
.second-section-container .second-section-right-container-img {
  width: 450px;
  height: 380px;
  border-radius: 100%;
  margin-right: 100px;
}

.third-section-container {
  margin-top: 100px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third-section-container .phone-bg {
  background-image: url(../../img/phone-bg.png);
  background-size: cover;
  width: 320px;
  height: 630px;
}
.third-section-container .computer-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 560px;
  margin-right: 0;
  background-image: url(../../img/computer-bg.png);
  background-size: cover;
}
.third-section-container .computer-bg .computer-video {
  width: 690px;
  height: 410px;
  margin-bottom: 140px;
}

.third-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.third-section .third-section-title {
  margin-top: 100px;
  font-size: 70px;
  font-weight: 200;
  letter-spacing: 3px;
  margin-bottom: 0;
}
.third-section .etap-3 {
  font-size: 55px;
  letter-spacing: 3px;
  color: #76876b;
}
.third-section .third-section-video {
  margin-top: 50px;
  width: 500px;
  height: 600px;
}
.third-section p {
  margin-top: 100px;
  margin-bottom: 0px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 26px;
}

.last-img {
  margin: 100px 0;
}

@media (max-width: 992px) {
  .about-project-container {
    height: 500px;
  }
  .about-project-container .opinions-header-left-box {
    height: 100%;
  }
  .about-project-container .opinions-header-left-box .header-container__title {
    margin: 0;
    font-size: 40px;
    margin-top: 20px;
  }
  .about-project-container .opinions-header-left-box p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 25px;
  }
  .about-project-container .opinions-header-right-box .reviews-img {
    width: 200px;
    margin-right: 0px;
    margin-bottom: 100px;
  }
  .about-project-container .insta-link-span {
    position: absolute;
    left: 50px;
    bottom: 50px;
    font-size: 12px;
  }
  .second-section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
  }
  .second-section-container .second-section-left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
  }
  .second-section-container .second-section-left-container .second-section-title {
    font-size: 40px;
    font-weight: 400;
  }
  .second-section-container .second-section-left-container .second-section-list li {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .second-section-container .second-section-right-container-img {
    width: 280px;
    height: 220px;
    border-radius: 100%;
    margin-right: 0px;
  }
  .third-section-container {
    margin-top: 100px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .third-section-container .phone-bg {
    background-image: url(../../img/phone-bg.png);
    background-size: cover;
    width: 220px;
    height: 440px;
    margin-bottom: 30px;
  }
  .third-section-container .computer-bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 220px;
    margin-right: 0;
    background-image: url(../../img/computer-bg.png);
    background-size: cover;
  }
  .third-section-container .computer-bg .computer-video {
    position: absolute;
    top: 6px;
    width: 270px;
    height: 160px;
    margin-bottom: 0px;
  }
  .third-section {
    width: 90vw;
  }
  .third-section .third-section-title {
    margin-top: 100px;
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  .third-section .etap-3 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .third-section .third-section-video {
    margin-top: 50px;
    width: 280px;
    height: 320px;
  }
  .third-section p {
    margin-top: 100px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 26px;
  }
  .last-img {
    margin: 100px 0;
    width: 280px;
  }
}