body {
  overflow-x: hidden;
}

.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third-section .first-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.third-section .first-container .third-section-title {
  margin-top: 100px;
  font-size: 70px;
  font-weight: 200;
  letter-spacing: 3px;
  margin-bottom: 0;
}
.third-section .first-container .etap-3 {
  font-size: 55px;
  letter-spacing: 3px;
  color: #76876b;
}
.third-section .first-container .third-section-video {
  margin-top: 50px;
  width: 500px;
  height: 600px;
}
.third-section .second-container {
  position: relative;
  padding: 0 10px;
  margin-top: 100px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.third-section .third-container {
  padding: 0 10px;
  margin-top: 100px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third-section .third-container .terminologia-header {
  margin-top: 100px;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0.084em;
}
.third-section .third-container .terminology-description {
  margin-bottom: 100px;
  min-width: 400px;
  line-height: 36px;
  width: 60%;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.044em;
}
.third-section .fourth-container {
  position: relative;
  padding: 0 20px;
  margin-top: 150px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.third-section .m2m-paragraph {
  margin-top: 150px;
  margin-bottom: 0px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 26px;
}
.third-section .terminology-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.third-section .terminology-container .terminology-box {
  margin: 0 3%;
  margin-top: 50px;
  max-width: 320px;
  width: 320px;
}
.third-section .terminology-container .terminology-box h3 {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 22px;
}
.third-section .terminology-container .terminology-box .terminology-paragraph {
  display: block;
  line-height: 24px;
  font-size: 17px;
  text-align: center;
}

.krok-header {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0.084em;
}

.krok-description {
  min-width: 400px;
  line-height: 36px;
  width: 60%;
  text-align: start;
  font-size: 32px;
  letter-spacing: 0.084em;
}

.krok-img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.last-img {
  margin: 100px 0;
}

@media (max-width: 992px) {
  .third-section {
    width: 90vw;
  }
  .third-section .second-container {
    align-items: center;
  }
  .third-section .fourth-container {
    align-items: center;
  }
  .third-section .third-section-title {
    text-align: center;
    margin-top: 100px;
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 0;
  }
  .third-section .etap-3 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .third-section .third-section-video {
    margin-top: 50px;
    width: 280px;
    height: 320px;
  }
  .third-section p {
    margin-bottom: 0px;
    letter-spacing: 2px;
    font-size: 26px;
  }
  .terminology-container .terminology-box {
    width: 95%;
    min-width: 95%;
  }
  .krok-img {
    position: static;
    transform: translateY(0%);
    margin-top: 60px;
  }
  .last-img {
    margin: 100px 0;
    width: 280px;
  }
}