.section-container {
  position: relative;
  margin-top: 150px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  padding: 100px 150px;
  box-shadow: 0 0px 20px -10px black;
}
.section-container__header {
  font-size: 42px;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
}
.section-container__register-button {
  width: 500px;
  height: 180px;
  padding: 20px 40px;
  margin: 30px 0;
  font-size: 40px;
  font-family: "Marcellus", serif;
  letter-spacing: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 100px;
  background-color: #9cad90;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.section-container__register-button:hover {
  background-color: rgb(127, 153, 108);
}
.section-container span {
  width: 100%;
}
.section-container .first-image {
  width: 450px;
}
.section-container .section-image {
  width: 350px;
}
.section-container .image {
  margin-bottom: 50px;
}
.section-container .fb-icon-container {
  width: 100%;
}
.section-container .fb-icon-container .fb-icon {
  margin-top: 15px;
  font-size: 30px;
  color: rgb(73, 73, 73);
  left: auto;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.section-container .fb-icon-container .fb-icon:hover {
  color: #75866a;
}
.section-container .insta-link-span {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 14px;
}

.middle-section-container {
  margin-top: 100px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle-section-container h5 {
  margin-bottom: 0;
  color: rgb(163, 175, 158);
  font-size: 20px;
  font-weight: 400;
}
.middle-section-container ul {
  transform: translateX(-40px);
  margin-left: 0;
}
.middle-section-container ul li {
  margin-left: 0;
  margin-top: 20px;
}
.middle-section-container .middle-section-container__text {
  font-size: 20px;
  letter-spacing: 2px;
  width: 400px;
}
.middle-section-container__image {
  width: 450px;
}

.lower-section-container {
  flex-direction: column;
  padding: 60px 150px;
  margin-bottom: 120px;
}
.lower-section-container h2 {
  margin-top: 0;
  color: #615e5b;
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: 400;
}
.lower-section-container__content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lower-section-container ul {
  width: 450px;
}
.lower-section-container ul li {
  font-size: 24px;
  margin: 20px 0;
  letter-spacing: 2px;
}
.lower-section-container .social-image {
  width: 200px;
}