.header-container {
  margin-top: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container__title {
  font-weight: 400;
  color: #75866a;
  font-size: 50px;
}
.header-container .arrow-right {
  margin-bottom: 40px;
  width: 200px;
  rotate: -105deg;
}
.header-container .logo-img {
  width: 200px;
}

.about-project-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-project-container__title {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 30px;
}
.about-project-container a {
  text-decoration: none;
}
.about-project-container__application-button {
  padding: 20px 30px 20px 50px;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  background-color: #75866a;
  font-size: 24px;
  border-radius: 50px;
  color: black;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.about-project-container__application-button span {
  font-size: 26px;
}
.about-project-container__application-button:hover {
  background-color: #90a382;
}
.about-project-container .youtube-video-container {
  margin-top: 50px;
}