.nav-bar-box {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-bar-box .nav-bar-container {
  height: 80px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-box .nav-bar-container__buttons a {
  user-select: none;
  text-decoration: none;
}
.nav-bar-box .nav-bar-container__buttons a .nav-bar-button {
  padding: 15px;
  margin: 2px;
  font-family: "Marcellus", serif;
  font-size: 18px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 0.2s ease-out;
  cursor: pointer;
}
.nav-bar-box .nav-bar-container__buttons a .nav-bar-button:hover {
  border: 1px solid black;
}
.nav-bar-box .nav-bar-container .logo-img-nav-bar {
  width: 100px;
  margin-top: 35px;
}