body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opinions-section-container {
  position: relative;
  margin-bottom: 100px;
}
.opinions-section-container .opinions-header-left-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.opinions-section-container .opinions-header-left-box .header-container__title {
  margin: 0;
  margin-top: 20px;
  font-size: 60px;
  font-weight: 400;
}
.opinions-section-container .opinions-header-left-box p {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
}
.opinions-section-container .opinions-header-right-box .reviews-img {
  width: 400px;
  margin-right: 100px;
}
.opinions-section-container .insta-link-span {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.arrow-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-buttons-container .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  font-size: 50px;
  user-select: none;
  color: #76876b;
  border: 1px solid rgba(163, 175, 158, 0);
  transition: 0.2s;
  cursor: pointer;
}
.arrow-buttons-container .arrow:hover {
  border: 1px solid rgb(163, 175, 158);
  font-size: 50px;
  user-select: none;
  color: rgb(163, 175, 158);
}

.lower-opinions-container {
  margin: 0;
  margin-bottom: 100px;
  padding: 10px 0 50px;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  overflow: auto;
  scroll-behavior: smooth;
}
.lower-opinions-container .spacer {
  width: 380px;
}
.lower-opinions-container .opinions-img {
  margin: 20px 0;
}
.lower-opinions-container .opinions-img-1 {
  margin-right: auto;
}
.lower-opinions-container .opinions-img-2 {
  margin-left: auto;
}
.lower-opinions-container .opinions-img-3 {
  margin-right: auto;
}
.lower-opinions-container .opinions-img-4 {
  margin-left: auto;
}

::-webkit-scrollbar {
  width: 1em;
  transition: 0.2s;
}

::-webkit-scrollbar-track {
  background-color: #76876b;
  margin-inline: 150px;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(163, 175, 158);
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(177, 189, 173);
}

::-webkit-scrollbar-track:horizontal {
  background-color: #76876b;
  margin-block: 0.5em;
  margin-inline: 150px;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(163, 175, 158);
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover:horizontal {
  background-color: rgb(177, 189, 173);
}