::-webkit-scrollbar {
  width: 1em;
  transition: 0.2s;
}

::-webkit-scrollbar-track {
  background-color: #76876b;
  margin-inline: 150px;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(163, 175, 158);
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(177, 189, 173);
}