@import "./colors.scss";

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Marcellus", serif;
}

.about-project-container {
	position: relative;
	margin-bottom: 100px;
	.opinions-header-left-box {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 100%;
		.header-container__title {
			margin: 0;
			margin-top: 20px;
			font-size: 60px;
			font-weight: 400;
		}
		p {
			width: 60%;
			font-size: 20px;
			letter-spacing: 2px;
			line-height: 30px;
		}
	}
	.opinions-header-right-box {
		.reviews-img {
			width: 400px;
			margin-right: 100px;
		}
	}
	.insta-link-span {
		position: absolute;
		left: 50px;
		bottom: 50px;
	}
}
.second-section-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	.second-section-left-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		.second-section-title {
			font-size: 60px;
			font-weight: 400;
		}
		.second-section-list {
			li {
				margin-bottom: 10px;
				font-size: 20px;
			}
		}
	}
	.second-section-right-container-img {
		width: 450px;
		height: 380px;
		border-radius: 100%;
		margin-right: 100px;
	}
}
.third-section-container {
	margin-top: 100px;
	margin-bottom: 100px;
	width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.phone-bg {
		background-image: url(../../img/phone-bg.png);
		background-size: cover;
		width: 320px;
		height: 630px;
	}
	.computer-bg {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 700px;
		height: 560px;
		margin-right: 0;
		background-image: url(../../img/computer-bg.png);
		background-size: cover;
		.computer-video {
			width: 690px;
			height: 410px;
			margin-bottom: 140px;
		}
	}
}

@media (max-width: 992px) {
	.about-project-container {
		height: 500px;

		.opinions-header-left-box {
			height: 100%;
			margin-left: 30px;
			.header-container__title {
				margin: 0;
				font-size: 40px;
				margin-top: 20px;
			}
			p {
				width: 80%;
				font-size: 14px;
				letter-spacing: 0px;
				line-height: 25px;
			}
		}
		.opinions-header-right-box {
			.reviews-img {
				width: 200px;
				margin-right: 0px;
				margin-bottom: 100px;
			}
		}
		.insta-link-span {
			position: absolute;
			left: 50px;
			bottom: 50px;
			font-size: 12px;
		}
	}
	.second-section-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 90vw;
		.second-section-left-container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			margin-bottom: 50px;
			.second-section-title {
				font-size: 40px;
				font-weight: 400;
			}
			.second-section-list {
				li {
					margin-bottom: 10px;
					font-size: 14px;
				}
			}
		}
		.second-section-right-container-img {
			width: 280px;
			height: 220px;
			border-radius: 100%;
			margin-right: 0px;
		}
	}
	.third-section-container {
		margin-top: 100px;
		margin-bottom: 100px;
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		.phone-bg {
			background-image: url(../../img/phone-bg.png);
			background-size: cover;
			width: 220px;
			height: 440px;
			margin-bottom: 30px;
		}
		.computer-bg {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 280px;
			height: 220px;
			margin-right: 0;
			background-image: url(../../img/computer-bg.png);
			background-size: cover;

			.computer-video {
				position: absolute;
				top: 6px;
				width: 270px;
				height: 160px;
				margin-bottom: 0px;
			}
		}
	}
}
