@import "./colors.scss";

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Marcellus", serif;
}

.about-project-container {
	position: relative;
	margin-bottom: 100px;
	.opinions-header-left-box {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 100%;
		.header-container__title {
			margin: 0;
			margin-top: 20px;
			font-size: 60px;
			font-weight: 400;
		}
		p {
			font-size: 20px;
			letter-spacing: 2px;
			line-height: 30px;
		}
	}
	.opinions-header-right-box {
		.reviews-img {
			width: 400px;
			margin-right: 100px;
		}
	}
	.insta-link-span {
		position: absolute;
		left: 50px;
		bottom: 50px;
	}
}
.second-section-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1200px;
	.second-section-left-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		.second-section-title {
			font-size: 60px;
			font-weight: 400;
		}
		.second-section-list {
			li {
				margin-bottom: 10px;
				font-size: 20px;
			}
		}
	}
	.second-section-right-container-img {
		width: 450px;
		height: 380px;
		border-radius: 100%;
		margin-right: 100px;
	}
}
.third-section-container {
	margin-top: 100px;
	width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.phone-bg {
		background-image: url(../../img/phone-bg.png);
		background-size: cover;
		width: 320px;
		height: 630px;
	}
	.computer-bg {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 700px;
		height: 560px;
		margin-right: 0;
		background-image: url(../../img/computer-bg.png);
		background-size: cover;
		.computer-video {
			width: 690px;
			height: 410px;
			margin-bottom: 140px;
		}
	}
}
.third-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.third-section-title {
		margin-top: 100px;
		font-size: 70px;
		font-weight: 200;
		letter-spacing: 3px;
		margin-bottom: 0;
	}
	.etap-3 {
		font-size: 55px;
		letter-spacing: 3px;
		color: $green;
	}
	.third-section-video {
		margin-top: 50px;
		width: 500px;
		height: 600px;
	}
	p {
		margin-top: 100px;
		margin-bottom: 0px;
		text-align: center;
		letter-spacing: 2px;
		font-size: 26px;
	}
}

.last-img {
	margin: 100px 0;
}
