.section-container {
	position: relative;
	margin-top: 120px;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 10px;
	padding: 100px 150px;
	box-shadow: 0 0px 20px -10px black;

	&__header {
		font-size: 42px;
		letter-spacing: 2px;
		font-weight: 400;
		text-align: center;
	}
	&__register-button {
		width: 500px;
		height: 180px;
		padding: 20px 40px;
		margin: 30px 0;
		font-size: 40px;
		font-family: "Marcellus", serif;
		letter-spacing: 3px;
		border: 1px solid rgba(0, 0, 0, 0);
		border-radius: 100px;
		background-color: #9cad90;
		transition: 0.2s ease-out;
		cursor: pointer;
	}
	&__register-button:hover {
		background-color: rgb(127, 153, 108);
	}
	span {
		width: 100%;
	}
	.first-image {
		width: 450px;
	}
	.section-image {
		width: 350px;
	}
	.image {
		margin-bottom: 50px;
	}

	.fb-icon-container {
		width: 100%;
		.fb-icon {
			margin-top: 15px;
			// width: 100%;
			// position: absolute;
			font-size: 30px;
			color: rgb(73, 73, 73);
			left: auto;
			cursor: pointer;
			transition: 0.2s ease-out;
		}
		.fb-icon:hover {
			color: #75866a;
		}
	}
	.insta-link-span {
		position: absolute;
		bottom: 40px;
		left: 40px;
		font-size: 14px;
	}
}

.middle-section-container {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
