.header-container {
	margin-top: 80px;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__title {
		font-weight: 400;
		color: #75866a;
		font-size: 50px;
	}
	.arrow-right {
		margin-bottom: 40px;
		width: 200px;
		rotate: -105deg;
		z-index: -1;
	}
	.logo-img {
		width: 200px;
	}
}

.about-project-container {
	font-family: "Poppins", sans-serif;
	// background-color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title {
		font-weight: 400;
		font-size: 30px;
		margin-bottom: 30px;
	}
	a {
		text-decoration: none;
	}
	&__application-button {
		// margin-top: 50px;
		padding: 20px 30px 20px 50px;
		display: flex;
		align-items: center;
		border: none;
		background: none;
		background-color: #75866a;
		font-size: 24px;
		border-radius: 50px;
		color: black;
		transition: 0.2s ease-out;
		cursor: pointer;
		span {
			font-size: 26px;
		}
	}
	&__application-button:hover {
		background-color: #90a382;
	}
	.youtube-video-container {
		margin-top: 50px;
	}
}
