@import "./colors.scss";

.nav-bar-box {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 2;

	.nav-bar-container {
		height: 80px;
		width: 65%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__buttons {
			a {
				user-select: none;
				text-decoration: none;
				.nav-bar-button {
					padding: 15px;
					margin: 2px;
					font-family: "Marcellus", serif;
					font-size: 18px;
					background: none;
					border: 1px solid rgba(0, 0, 0, 0);
					transition: 0.2s ease-out;
					cursor: pointer;
					color: black !important;
				}
				.nav-bar-button:hover {
					border: 1px solid black;
				}
				.active {
					border: 1px solid black;
				}
			}
		}
		.logo-img-nav-bar {
			width: 100px;
			margin-top: 35px;
			margin-left: 10px;
		}
	}
}

@media (max-width: 992px) {
	.nav-bar-box {
		width: 100%;
		.nav-bar-container {
			width: 100%;
			justify-content: center;
			&__buttons {
				margin-left: 0;
				// width: 100%;
				margin-right: 0;
				display: flex;
				justify-content: center;
				a {
					.nav-bar-button {
						font-size: 14px;
					}
				}
			}
			.logo-img-nav-bar {
				// position: absolute;
				width: 50px;
				margin: 0;
				margin-right: 10px;
			}
		}
	}
}
