.nav-bar-box {
	position: fixed;
	width: 100%;
	box-shadow: 0 1px 10px -6px;
	display: flex;
	justify-content: center;
	background-color: rgba(245, 240, 234, 1);

	.nav-bar-container {
		height: 80px;
		width: 80%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__buttons {
			a {
				user-select: none;
				text-decoration: none;
				.nav-bar-button {
					text-transform: uppercase;
					padding: 15px;
					margin: 2px;
					background: none;
					border: 1px solid rgba(0, 0, 0, 0);
					transition: 0.2s ease-out;
					cursor: pointer;
				}
				.nav-bar-button:hover {
					border: 1px solid black;
				}
			}
		}
		.logo-img-nav-bar {
			width: 100px;
			margin-top: 5px;
		}
	}
}
